{% include 'header.html.twig' %}
    <h1>Welcome to To Do List</h1>

    <h3>Create a new category:</h3>

    <form action="/categories" method="post">
      <div class='form-group'>
        <label for="name">Category name:</label>
        <input id="name" name="name" type="text">
      </div>
      <div class='form-group'>
        <button type="submit">Add category</button>
      </div>
    </form>

    {% if categories is not empty %}
        <p>Here are all your categories:</p>
        <ul>
            {% for category in categories %}
                <li><a href="/categories/{{ category.getId }}">{{ category.getName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
      <p>There are no categories yet!</p>
    {% endif %}

{% include 'pagebottom.html.twig' %}
